


.menu-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .link {
        color: #333;
    }
    &.active {
        background-color: #e6f4ff;
        .link {
            color: #1677ff;
        }
    }
}
