
.lazy-load {
    .content {

    }
    .skin-img {
        margin-bottom: 20px;
        width: auto;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    .img {

    }
}