
.img-video-preview {
    .section {
        margin: 20px auto;
        width: 80%;
        border: 1px solid #666;
        text-align: center;
    }
    .preview {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        min-height: 100px;
        background-color: #999;

        img, video {
            width: 100%;
        }
    }
}