

* {
    box-sizing: border-box;
}
.app-page {
    height: 100%;

    .header {

    }
    .footer {
        &:empty {
            display: none;
        }
    }
    
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main-content {
        padding: 20px;
        overflow-y: auto;
    }

    .app-content {
        width: 100%;
        // 不能删除，删除会影响内部元素的布局计算 （虚拟列表等）
        height: 100%;
    }

    .sidebar {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        width: 225px;
    }
    
}
